<!-- <P id="start-over-button"> start opnieuw!</P> -->
<div class="advice-content-top">
	<div class="content-wrapper-top row">
		<div class="choise choise-1 selected-choise column-mobile-3">
			<h1>Jou beste keuze</h1>
			<hr>
			<div class="display-grid">
				<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/apple/iphone-xs/shop-images/apple-iphone-xs-spacegrey-duofront.png">
				<div>
					<p>Apple iPhone XS Max</p>
					<p>100%</p>
					<p>Match</p>
				</div>
			</div>
		</div>
		<div class="choise choise-2 column-mobile-3">
			<h1>Jou tweede keuze</h1>
			<hr>
			<div class="display-grid">
				<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/samsung/samsung-galaxy-s9/shop-images/shop_S9-black-front-back-dubbel.png">
				<div>
					<p>Samsung Galaxy S9</p>
					<p>96% </p>
					<p>Match</p>
				</div>
			</div>
		</div>
		<div class="choise choise-3 column-mobile-3">
			<h1>Jou derde keuze</h1>
			<hr>
			<div class="display-grid">
				<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/huawei/huawei-p20-serie/Shop afbeeldingen/Huawei-P20-Pro-Twilight-FR-BCK.png">
				<div>
					<p>Huawei P20 Pro</p>
					<p>90% </p>
					<p>Match</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper-bottom">
	<div class="first-advice advice">
			<section class="advice-content-middle">
				<div class="content-middle-left content-middle" >
					<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/apple/iphone-xs/shop-images/apple-iphone-xs-spacegrey-duofront.png">
					<h1>De Apple iPhone XS Max is de beste keuze!</h1>
					<p> Hier is waarom (Op basis van je antwoorden):</p>
					<ul class="list-square">
						<li>
							Een grotere telefoon dan de gemiddelde van 155 x 73.9 x 7.8 mm
						</li>
						<li>
							Meer dan een miljoen om uit te kiezen in Apple Store
						</li>
						<li>
							Muziek speler en toegang tot Apple Msuic met meer dan 35 miljoen nummers
						</li>
				</div>
				<div class="content-middle-right content-middle">
					<div class="owl-carousel owl-theme">
				 		<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 2 jaar
					 				</li>
					 				<li>
					 					Next - 5 GB
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 59,00</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 30,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 39,00</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -12,50</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 150,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 120,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
				 		<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 2 jaar
					 				</li>
					 				<li>
					 					Unlimited NL & 10 GB EU
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 43,50</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 50,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 8,50</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -15,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 882,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 852,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
						<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 1 jaar
					 				</li>
					 				<li>
					 					Up - 10 GB
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 63,00</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 35,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 39,00</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -12,50</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 150,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 120,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
				</div>
			</section>
	</div>
	<div class="second-advice advice">
			<section class="advice-content-middle">
				<div class="content-middle-left content-middle" >
					<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/samsung/samsung-galaxy-s9/shop-images/shop_S9-black-front-back-dubbel.png">
					<h1>De Samsung Galaxy S9 is zo goed als perfect voor jouw!</h1>
					<p> Hier is waarom (Op basis van je antwoorden):</p>
					<ul class="list-square">
						<li>
							Een grotere telefoon dan de gemiddelde van 155 x 73.9 x 7.8 mm
						</li>
						<li>
							Meer dan een miljoen om uit te kiezen in Apple Store
						</li>
						<li>
							Muziek speler en toegang tot Apple Msuic met meer dan 35 miljoen nummers
						</li>
				</div>
				<div class="content-middle-right content-middle">
					<div class="owl-carousel owl-theme abonnement-carasol">
				 		<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 2 jaar
					 				</li>
					 				<li>
					 					Next - 5 GB
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 59,00</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 30,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 39,00</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -12,50</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 150,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 120,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
				 		<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 2 jaar
					 				</li>
					 				<li>
					 					Unlimited NL & 10 GB EU
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 43,50</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 50,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 8,50</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -15,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 882,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 852,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
						<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 1 jaar
					 				</li>
					 				<li>
					 					Up - 10 GB
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 63,00</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 35,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 39,00</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -12,50</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 150,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 120,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
				</div>
			</section>
	</div>
	<div class="third-advice  advice">
			<section class="advice-content-middle">
				<div class="content-middle-left content-middle" >
					<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/huawei/huawei-p20-serie/Shop afbeeldingen/Huawei-P20-Pro-Twilight-FR-BCK.png">
					<h1>De Huawei P20 Pro is als derde naar voren gekomen!</h1>
					<p> Hier is waarom (Op basis van je antwoorden):</p>
					<ul class="list-square">
						<li>
							Een grotere telefoon dan de gemiddelde van 155 x 73.9 x 7.8 mm
						</li>
						<li>
							Meer dan een miljoen om uit te kiezen in Apple Store
						</li>
						<li>
							Muziek speler en toegang tot Apple Msuic met meer dan 35 miljoen nummers
						</li>
				</div>
				<div class="content-middle-right content-middle">
					<div class="owl-carousel owl-theme">
				 		<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 2 jaar
					 				</li>
					 				<li>
					 					Next - 5 GB
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 59,00</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 30,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 39,00</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -12,50</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 150,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 120,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
				 		<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 2 jaar
					 				</li>
					 				<li>
					 					Unlimited NL & 10 GB EU
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 43,50</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 50,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 8,50</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -15,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 882,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 852,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
						<div class="item">
				 			<div class="abonnement-info">
					 			<p>Dit abonnement bevat:</p>
					 			<hr>
					 			<ul>
					 				<li>
					 					Abonnement Go
					 				</li>
					 				<li>
					 					Looptijd 1 jaar
					 				</li>
					 				<li>
					 					Up - 10 GB
					 				</li>
					 				<li>
					 					Onbeperkt SMS
					 				</li>
					 				<li>
					 					120 min. bellen van NL naar EU
					 				</li>
					 			</ul>
					 			<hr>
					 		</div>
				 			<ul class="abbonement-toggle">
				 				<li>Totaal per maand</li>
				 				<li>€ 63,00</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Abonnement</li>
				 						<li>€ 35,00</li>
				 					</ul>
				 					<ul>
				 						<li>Toestelkrediet</li>
				 						<li>€ 39,00</li>
				 					</ul>
				 					<ul>
				 						<li>Korting</li>
				 						<li>€ -12,50</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<ul class="abbonement-toggle">
				 				<li>Eenmalige kosten</li>
				 				<li>€ 150,69</li>
				 				<ul class="toggle initiallyHidden">
				 					<ul>
				 						<li>Apple iPhone XS 64GB Zwart</li>
				 						<li>€ 120,00</li>
				 					</ul>
				 					<ul>
				 						<li>Thuiskopieheffing</li>
				 						<li>€ 5,69</li>
				 					</ul>
				 					<ul>
				 						<li>Aansluitkosten</li>
				 						<li>€ 25,00</li>
				 					</ul>
				 				</ul>
				 			</ul>
				 			<input id="Row1_Column1_Cell1_Checkout_SaveShoppingCartButton" name="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-default-button="true" data-interaction-id="shopping-cart-overview-continue-button" data-next="Row1.Column1.Cell1.Checkout.SaveShoppingCart" data-url="/shop/bestellen/mijn-gegevens?ch=es&amp;cc=con&amp;sc=acq" data-loader-text="Even geduld. We controleren je gegevens." class="button-confirm button-block button-mobile-block" tabindex="1" type="submit" value="Doorgaan met bestellen">
				 		</div>
				</div>
			</section>
	</div>
</div>