<div class='keuze-hulp-main column-tablet-12'>
	<div class="fake-click close-cancel-page"></div>
	<div class='keuze-hulp-content'>
		<div class="close-content">
			<svg class="close-keuze-hulp close-cancel-page" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.112 31.112"><path d="M31.112 1.414L29.698 0 15.556 14.142 1.414 0 0 1.414l14.142 14.142L0 29.698l1.414 1.414L15.556 16.97l14.142 14.142 1.414-1.414L16.97 15.556z"/></svg>
			<p class="close-cancel-page">Sluit en ga terug naar de website</p>
		</div>
		<div class="main-content">
				<div class="top-content" id="question-1">
					<h1>Waar kunnen wij u vandaag mee helpen?</h1>
					<div class="question-choise">
						<ul class="row">
							<li class="column-tablet-3"><span>Sim Only</span></li>
							<li class="column-tablet-3"><span>Toestel met abonnement</span></li>
							<li class="column-tablet-3"><span>Weet ik niet, help me kiezen</span></li>
						</ul>
					</div>
				</div>
				<div class="top-content" id="question-2">
					<h1>Weet je welke telefoon je wilt?</h1>
					<div class="question-choise">
						<ul class="row">
							<li class="column-tablet-3"><span>Ja</span></li>
							<li class="column-tablet-3"><span>Nee</span></li>
						</ul>
					</div>
				</div>
				<div class="top-content" id="question-3">
					<h1>Wat voor type telefoon?</h1>
					<div class="question-choise">
						<ul class="row">
							<li class="column-tablet-3"><span>Nieuwste telefoon</span></li>
							<li class="column-tablet-3"><span>Betaalbare en goede telefoon</span></li>
							<li class="column-tablet-3"><span>Goedkopste telefoon</span></li>
						</ul>
					</div>
				</div>
				<div class="top-content multi-choise" id="question-4">
					<h1>Waar gebruik je je telefoon voor?(meerdere antwoorden mogeljik)</h1>
					<div class="question-choise">
						<ul class="row">
							<li class="column-tablet-3 meerdere"><span>Bellen en SMS</span></li>
							<li class="column-tablet-3 meerdere"><span>Video's en foto's</span></li>
							<li class="column-tablet-3 meerdere"><span>Browsen en e-mail</span></li>
							<li class="column-tablet-3 meerdere"><span>Apps gebruiken</span></li>
							<li class="column-tablet-3 meerdere"><span>Muziek streamen</span></li>
							<li class="column-tablet-3 meerdere"><span>Video / TV streamen</span></li>
						</ul>
					</div>
				</div>
				<div class="top-content multi-choise" id="question-5">
					<h1>Zijn er merken die je voorkeur hebben?(meerdere antwoorden mogeljik)</h1>
					<div class="question-choise">
						<ul class="row">
							<li class="column-tablet-3 meerdere"><span>Nee</span></li>
							<li class="column-tablet-3 meerdere"><span>Apple</span></li>
							<li class="column-tablet-3 meerdere"><span>Sony</span></li>
							<li class="column-tablet-3 meerdere"><span>Samsung</span></li>
							<li class="column-tablet-3 meerdere"><span>Huwawei</span></li>
							<li class="column-tablet-3 meerdere"><span>Samsung(nog een keer)</span></li>
						</ul>
					</div>
				</div>
				<div class="top-content" id="question-6">
					<div class="question-choise">
						<p>You can select your preferred colour and capacity later</p>
						<ul class="row">
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/apple/iphone-xs/shop-images/apple-iphone-xs-spacegrey-duofront.png">
								<p>iphone xs</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/apple/iphone-xs/shop-images-max/apple-iphone-xs-max-spacegrey-duofront.png">
								<p>iphone xs max</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-x-64gb-zwart-duofront.png">
								<p>iphone x</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-8-64gb-zwart-duofront.png">
								<p>iphone 8</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/apple/iphone-xs/shop-images/apple-iphone-xs-spacegrey-duofront.png">
								<p>iphone xs</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-8-64gb-zwart-duofront.png">
								<p>iphone 8</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/toestelmerken/apple/iphone-8/product-red/Shop-images/305x450_iPhone8Plus_RED_FR_BCK.png">
								<p>iPhone 8+</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-8-plus-256gb-zilver-duofront.png">
								<p>iphone 8+</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-6-32gb-grijs-duofront.png">
								<p>iphone 6</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-8-256gb-zwart-duofront.png">
								<p>iphone 8</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-7-32gb-zwart-duofront.png">
								<p>iphone 7</p>
							</li>
							<li class="column-tablet-2">
								<img src="https://www.t-mobile.nl/Consumer/media/images/shop/telefoons/apple-iphone-8-plus-64gb-goud-duofront.png">
								<p>iphone 8+</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="top-content" id="question-7">
					<h1>Hoe groot moet je telefoon zijn?</h1>
					<div class="question-choise">
						<ul class="row">
							<li class="column-tablet-3"><span>Groot</span></li>
							<li class="column-tablet-3"><span>Normaal</span></li>
							<li class="column-tablet-3"><span>Klein</span></li>
							<li class="column-tablet-3"><span>Maakt niet uit</span></li>
						</ul>
					</div>
				</div>
				<div class="top-content" id="question-8">
					<h1>Hoeveel data gebruik je per maand?</h1>
					<div class="question-choise" >
						<ul class="row">
							<li class="column-tablet-3"><span>Weet ik niet</span></li>
							<li class="column-tablet-3"><span>1 GB</span></li>
							<li class="column-tablet-3"><span>5 GB</span></li>
							<li class="column-tablet-3"><span>10 GB</span></li>
							<li class="column-tablet-3"><span>20+ GB</span></li>
						</ul>
					</div>
				</div>
				<div class="top-content" id="question-9">
					<h1>Geen probleem! Hoeveel MB gebruik je per dag?</h1>
					<div class="question-slider">
						<div class="slider-horizontal">
							<div id="slider-text-mb" class="slider-hulp-keuze">

							</div>
						</div>
					</div>
				</div>
				<div class="top-content advice-page" id="question-10">
					<?php
						include_once "eindpagina.html";
					?>
				</div>
				<div class="navigation-content">
					<div class="timeline">
						<span class="set-timeline"></span>
					</div>
					<button class="button-keuze-hulp button-left"  id="button-left">Vorige</button>
					<button class="button-keuze-hulp button-right" id="button-right" disabled>Volgende</button>
				</div>
				
		</div>
	</div>
</div>
<div class="keuze-hulp">
	<svg  class='keuze-hulp-arrow' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 129 129'><g><path d='m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z'/></g></svg>
	<p>Help kiezen!</p>
</div><link rel="stylesheet" type="text/css" href="">