.keuze-hulp{
	width: 40px; 
	height: 130px;
	position: fixed; 
	right: 0px; 
	top: 65%; 
	color: white; 
	background-color: #e20074; 
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px; 
	box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.1);
	cursor: pointer;
	z-index: 999;
	}
.keuze-hulp p{ 
	transform: rotate(270deg); 
	width: 130px; 
	height: 40px; 
	position: absolute; 
	left: -45px; 
	top: 19px; 
	line-height: 2.7;
	}
.keuze-hulp-arrow{
	fill: white;
	width: 24px; 
	position: absolute; 
	top: 7px; 
	left: 7px;
	}
.keuze-hulp-main{
	display: none; 
	background-color: rgba(0,0,0,0.6); 
	position: fixed; 
	top: 0px; 
	left: 0px; 
	z-index: 1001; 
	width: 100%; 
	height: 100%;
	color: black;

}
.keuze-hulp-content{
	width: 90%; 
	background-color: white; 
	height: 100%; 
	position: absolute; 
	top: 0px;
	right: -90%;
	overflow: scroll;
	}
.close-content{
	border-bottom: 1px solid rgba(0,0,0,0.2); 
	height:45px;
	 background-color: #f0f0f0f0;
}
.fake-click{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	cursor: pointer;

}
.close-keuze-hulp{
	width: 45px;
	padding: 12px;
	background-color: #262626;
	fill: white;
	cursor: pointer;
}
.close-content p{
	margin-top: 12px;
	display: inline-block;	
	position: absolute;
	padding-left: 15px;
	color: #727272;
	cursor: pointer;
}
.main-content{
	width: 80%;
	margin: 10%;
	margin-top: 5%;
	margin-bottom: 3%;
	position: relative;
	height: auto;
}
.main-content .question-choise .row{
	margin-top: 50px;
	height: auto;
	padding-left: 0px;
}
.main-content .row li{
	list-style-type: none;
	position: relative;
	background-color: #262626;
	width: 195px;
	height: 80px;
	color: white;
	overflow: hidden;
	border-radius: 5px;
	display: table;
	float:left;
	font-size: 16px;
	margin-right: 22px;
	margin-left: 15px;
	margin-bottom: 16px;
	cursor: pointer;
	transition: 0.3s;
}
.main-content .row li span{
	width: 100%;
	height:100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 1.2em;
}
.main-content .row .selected-option{
	background-color: #e20074;
}
.main-content .row li .check-mark{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-style: solid;
	display: block;
	border: 1px solid white;
	position: absolute;
    right: 10px;
    top: 10px;
}

.check-mark-check{
	fill: white;
	width: 20px;
	position: absolute;
	right: 15.5px;
	top: 15px;
}
.button-keuze-hulp{
	background-color: transparent;
	padding: 10px;
	font-weight: bold;
	color: #ea2b87;
	border-radius: 3px;
	position: relative;
	margin-bottom: 0px;
	margin-top:40px;
	left:0px; 	
	width: 150px;
	border: none;
}
.button-keuze-hulp:focus {outline:0;}
.button-keuze-hulp:disabled {
    color: #d0d0d0;
    border-color: #e5e5e5;
     text-shadow: none;
}
.button-right{
	float:right;
	background-color: #e20074;
	color: white;
	padding: 11px;
}
.button-left{
	border-style: inset;
	border: 1px solid #e20074;
}
.top-content{
	transition: 0.3s;
	}
.timeline{
	position: relative;
	background-color: #e6e6e6;
	width: 100%;
	height: 5px;
	margin-top:50px;
}
.timeline span{
	background-color: #e20074;
	position: absolute;
	height: 5px;
	top: 0px;
	left:0px;
	width: 0%;
	overflow: hidden;
}
.slider-hulp-keuze{
	margin-top: 50px;
	margin-bottom: 100px;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle{
	height: 47px;
	top:-18px;
	width: 30px;
	background-color: #e20074;
	box-shadow: none;
	border: none;
}
.noUi-handle:after, .noUi-handle:before{
	top:9px;
	height: 28px;
	background-color: #af005a;
}
.noUi-handle:after{
	left: 9px;
}
.noUi-handle:before{
	left: 19px;
}
.slider-hulp-keuze{
	border: none;
	border-style: none;
	background-color: #c5c5c5;
	border-radius: 0px;
	height: 11px;
}
.noUi-value{
	color: black;
}
.noUi-marker{
background-color: black;
}


.advice-content-middle {
	display: grid;
	grid-template-columns: 65%  35%;
}
.content-middle-left img{
	width: 40%;
	position: relative;
	left: 0px;
	top: 0px;
	min-width: 150px;
	float: left;
}
.content-middle-left ul {
	width: 55%;
	float: left;
	margin-left: 18px;
	font-size: 14px;
}
.list-square{
	padding-left: 15px;
}
.content-middle-left h1, .content-middle-left p{
	padding-left: 18px;
	display: inline-block;
	width:59%;
	color:#727272;
}
.content-middle-left p{
	font-size: 20px;
}
.content-middle-left h1{
	padding-left: 18px;
	display: inline-block;
	width:59%;
	font-size: 36px;
}
.content-middle-right{
	padding-left: 5%;
	position: relative;
}

.owl-carousel .item{
	width: 99%;
	display: block; 
	padding: 20px;
	text-align: left;
	background-color: #fbfaf9;
	border: 1px solid #d3d2ce;
	cursor: auto;
}
.item .list-square li:before{
	    position: relative;
	    left: -5px;
	    top: -3px;
}
.owl-prev  span, .owl-next span{
	font-size: 100px;
}
.owl-prev, .owl-next{
		margin: 0px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
	background-color: transparent;
	color: black;
}
.owl-prev{
	position: absolute;
	left: 20%;
}
.owl-next{
	position: absolute;
	right: 20%;
}
.advice-content-top{
	width: 125.4%;
    display: block;
    margin: auto auto;
    background-color: #f0f0f0f0;
    height: auto;
    position: relative;
    left: -13%;
    line-height: 0;
	height: auto;
	overflow: hidden;

}
.content-wrapper-top{
	display: inline-block;
	margin-left: 10%;
}

.choise{
	float: left;
	margin: auto auto;
	display: block;
	padding: 0px 40px 0px 40px;
	cursor: pointer;

}
.choise h1{
	font-size: 16px;
	color: #262626;
	padding: 0px;
}
.choise hr{
	margin: 0px 0px 14px 0px;
}
.selected-choise{
		background-color: white;
		cursor: auto;
}
/*.choise div{
	display: inline-block;
	position: relative;
	top: -13px;
	left: 5px;
}
.choise div p:first-child{
	color: #727272;
	position: relative;
    top: -15px;
}
.choise div p:nth-child(2), .choise div p:nth-child(3){
	color: #262626;
	float: left;
}
.choise div p:nth-child(2){
	   font-size: 23px;
	   font-weight: bold;
}
.choise div p:nth-child(3){
	font-size: 14px;
	margin-top: 26px;
	margin-left: 4px;
}*/
.content-wrapper-bottom{
	    margin-top: 30px;	
}
.advice{
	display: none;
}
.initiallyHidden{
	display: none;
}
.shopping-cart-table-description{
	text-align: left;
	padding: 0px;
}
.shopping-cart-table tr td{
	padding: 0px;
}

.item ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-style: normal;
}
.item > ul{
		padding-bottom: 10px;

}
.abbonement-toggle  li:first-child{
	display: inline-block;
	width: 48%;
	text-align: left;
}
.abbonement-toggle li:nth-child(2){
	display: inline-block;
	width: 50%;
	text-align: right;
}
.abbonement-toggle  li{
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
}
.item ul ul li{
	font-size: 13px;
	font-weight: normal;
	padding-left: 10px;
}
.item .abonnement-info li {
	display: block;
	width: 100%;		
	text-align: left;
}
.reset-page{
	right: 18px;
}
.display-grid{
	display: grid;
	grid-template-columns: 30% 70%;
}
.display-grid img{
	width: 69%;
}
.display-grid p{
	line-height: 1;
}
.display-grid p:nth-child(2), .display-grid p:nth-child(3){
		display: inline-block;
		color: #262626;
}
.display-grid p:nth-child(2){
	   font-size: 23px;
	   font-weight: bold;
}
.display-grid p:nth-child(3){
	font-size: 14px;
	margin-top: 26px;
	margin-left: 4px;
}
#question-6 ul li img{
	width:42%;
	padding: 10px 0px 10px 0px;
}
#question-6 ul li{
	background: none;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	padding: 5px;
	margin-left: 22px;
}
#question-6 ul li:hover{
	border: 3px solid #ffe600;
	padding: 0px;
}
#question-6 ul li p{
	color: black;
	display: inline-block;
	width: 50%;
	text-align: center;
	margin-left: 10px;
}
#question-6 ul li[class*="selected-phone"]{
	border: 3px solid #ffe600;
}
@media only screen and (max-width: 600px) {
   .main-content ul li {
        margin-left:5px;
    }	

    .button-keuze-hulp {
    	width: 110px;
    	margin-bottom: 0px;
    	margin-top: 23px;
    	width: 35%;
    }
    .timeline{
    	margin-top: 32px;
    }
    .advice-content-middle{
    	grid-template-columns: 100%;
    }
    .advice-content-top .content-wrapper-top{
    	margin-left: 0px;

    }
    .choise{
    	width: 33%;
  		padding: 0px;
    	margin: 0px;
    }	
    .choise h1{
        font-size: 13px;
        text-align: left;
   		padding-left: 10px;

    }
    .display-grid p{
		font-size: 12px;
		text-align: center;
		margin: auto auto;
		padding-top: 10px;
	}
	.display-grid p:first-child{
		padding: 10px 15px 0px 15px;
	}
	.display-grid p:nth-child(2){
		margin: auto auto;
		    width: 100%;
	}
	.display-grid p:nth-child(3){
		margin: 0px;
		padding: 0px 0px 5px 0px;
		width: 100%;
	}
	.display-grid img{
		width: 59%;
    	margin: auto auto;
	}
	.display-grid{
		grid-template-columns: 100%;
	}
	.content-middle-left h1, .content-middle-left p, .content-middle-left ul{
		width: 100%;
		margin-left: 0px;
	}
	.abbonement-toggle li:first-child{
		width: 42%;
	}
	.content-middle-right, .content-middle-left h1, .content-middle-left p{
		padding: 0px;
	}
	
	.main-content .question-choise .row{
		margin-left: 0%;
   		padding: 0px;
	}
	.main-content .row li, 	#question-6 ul li{
		margin-left: auto;
    	margin-right: auto;
	}
	.main-content .row li{
		width: 95%;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
	}
	.main-content .row li span{
		padding-left: 0px;
		padding-right: 0px;
	}
}
